name: macOS Import Test
on: [pull_request]

jobs:
  build:
    name: Module imports on macOS
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Perform the import
        shell: pwsh
        run: |
          Set-PSRepository -Name PSGallery -InstallationPolicy Trusted
          Install-Module PSFramework, kbupdate-library, PSSQLite
          Import-Module ./kbupdate.psd1 -ErrorAction Stop
          (Get-KbUpdate -Name KB2992080 -Source Web).Title -ne $null
